body{
    color: #fff;
  
}
.icon-small{
    width: 30px;
    float: left;
    margin: auto;
    position: absolute;
    top: -3px;
    left: -3px;
}
.icon-small img{
    width: 100%;
}
.lead, .fw-lighter{
    text-transform: capitalize;
    position: relative;
}
.display-7{
    font-size: calc(.89rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}
.icon{
    text-align: right;
}
.img-thumbnail{
    background-color: rgba(255, 255, 255, 0.5);
}
.cont{
    background-image: url(../assets/def.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.cont .card{
    background-color: rgba(15, 8, 68, 0.7)
}
.nubes.dispersas{
    background-image: url(../assets/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nubes.dispersas .card{
    background-color: rgba(24, 13, 85, 0.7)
}

.cielo.claro{
    background-image: url(../assets/cielo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cielo.claro .card{
    background-color: rgba(141, 192, 201, 0.7)
}
.lluvia.ligera{
    background-image: url(../assets/lluvia-ligera.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.lluvia.ligera .card{
    background-color: rgba(53, 127, 125, 0.7)
}
.nubes{
    background-image: url(../assets/nubes.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nubes .card{
    background-color: rgba(92, 122, 153, 0.7)
}
.muy.nuboso{
    background-image: url(../assets/nuboso.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.muy.nuboso .card{
    background-color: rgba(51, 76, 101, 0.7)
}
.main{
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
max-width: 50em ;
}